.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.login-form {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.login-group {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
}

.login-input {
    width: 100%;
    padding: 16px 15px 8px;
    border: 1px solid #9E9E9E;
    border-radius: 8px;
    background-color: #ffffff;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.login-input:focus {
    background-color: #f3f8ff;
    color: black;
}

.login-label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #9E9E9E;
    transition: all 0.3s ease;
    pointer-events: none;
}

.login-input:focus + .login-label,
.login-input:not(:placeholder-shown) + .login-label {
    top: 7px;
    font-size: 12px;
    color: #7a7a7a;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me-container {
    display: flex;
    align-items: center;
}

.remember-label {
    margin-left: 5px;
    font-size: 14px;
}

.forgot-password {
    font-size: 14px;
    color: #f00;
    cursor: pointer;
}

.login-button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 15px;
}

.login-button:hover {
    background-color: #0056b3;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #aaa;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
    margin: 0 10px;
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

.google-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.signup-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.signup-anchor {
    color: #007bff;
    text-decoration: none;
}

.signup-anchor:hover {
    text-decoration: underline;
}
